

       html,body{
        overflow-x:hidden;
    }
     .pb-video-container {
     padding-top: 20px;
     background: #12abbb;
     font-family: Lato;
 }

 .pb-video {
     border: 1px solid #e6e6e6;
     padding: 5px;
 }

     .pb-video:hover {
         background: #2c3e50;
     }

 .pb-video-frame {
     transition: width 2s, height 2s;
 }

     .pb-video-frame:hover {
         height: 300px;
     }

 .pb-row {
     margin-bottom: 10px;
 }

 .bg-white{
    background-color: white;
 }

 
 .bg-white{
    background-color: white;
 }

 .aqua_blue{
     background-color: #0391de;
 }